<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}{% endblock page_title %}</title>

        {% load static %}
        
        {% load bootstrap4 %}

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    </head>
    <body>
        <a id="top"></a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
              Football Tool
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'search' %}">Search Players</a>
                    <a class="nav-item nav-link" href="{% url 'team-builder' %}">Team Builder</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <br />
            {% block content %}{% endblock content %}
        </div>
        <br /><br />
    </body>

</html>
