{% extends "players/base.html" %}

{% block page_title %}Football Tool{% endblock page_title %}

{% block content %}
<br />
<h3>Yes, your wildest dreams have come true!</h3>
<br />
<p>Now you can:</p>
<ul>
    <li>Search players by name, nationality, or club - or all three together</li>
    <li>Build a (reasonably performant) team within a given budget</li>
    <li>Navigate between pages, just like in the olden days!</li>
</ul>

<br />

<p><b>Version history</b></p>
<p>v1.0</p>
<ul>
    <li>Everything</li>
</ul>

<p>v0.0</p>
<ul>
    <li>Nothing</li>
</ul>

{% endblock content %}